<!doctype html>
<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>

<ul class="messages"></ul>
<form>
  <input type="text" class="input" autocomplete="off" autofocus />
  <button>Send</button>
</form>

<%- include('./partials/foot.ejs') %>
